:root {
    /* CORES DO PROJETO */
    --background-primary: #ffffff;
    --background-secundary: rgba(195, 25, 25, 0.03);
    --background-footer: #f9fafb;
    --color-text: #667085;
    --color-title: #101828;
    --color--text-btn: #ffffff;
    --color-text-secundary-btn: #8e2424;
    --color-text-secundary-btn-hover: #a82424;
    --color-copyrigth: #98a2b3;
    --color-border-design: #eaecf0;
    --color-boder-email: #d0d5dd;
    --color-box-shadow-email-btn: rgba(16, 24, 40, 0.5);
    --color-box-shadow-email-btn-hover: rgba(16, 24, 40, 0.5);

    --font-family: 'Inter', sans-serif;;

    font-size: 62.5%;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

html {
    font-family: var(--font-family);
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-primary);
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 6rem;
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    background-color: var(--background-primary);
}

main {
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    align-items: center;
}

footer {
    background-color: var(--background-footer);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 55rem;
    padding: 0 .5rem;
}

/*-----NAVIGATION-----*/

header nav.menu {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "img btns"
        "lista lista";
}

header nav img.menu__img {
    grid-area: img;
    align-self: center;
}

header nav ul.menu__lista {
    display: flex;
    gap: 3rem;
    grid-area: lista;
    justify-content: center;
}

header nav div.menu__btns {
    grid-area: btns;
}

header nav ul li a.menu__lista__item,
header nav div a.menu__btns__entrar {
    text-decoration: none;
    color: var(--color-text);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 125%;
    cursor: pointer;
}

header nav ul li a.menu__lista__item:hover,
header nav div a.menu__btns__entrar:hover {
    text-decoration: underline;
    transition: .5 ease-in-out;
}


header nav div a.menu__btns__cadastrar,
footer section form button.footer__btns__cadastrar {
    text-decoration: none;
    color: var(--color--text-btn);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 125%;
    background-color: var(--color-text-secundary-btn);
    border: 1px solid var(--color-text-secundary-btn);
    border-radius: .8rem;
    box-shadow: 0px 2px 3px var(--color-box-shadow-email-btn);
    text-align: center;
    padding: 1rem 1.8rem;
    cursor: pointer;
}

header nav div a.menu__btns__cadastrar:hover,
footer section form button.footer__btns__cadastrar:hover {
    box-shadow: 2px 10px 10px var(--color-box-shadow-email-btn-hover);
    transition: .5s ease-in-out;
    background-color: var(--color-text-secundary-btn-hover);
}
    
/*-----CONTEÚDO-----*/
/*----PRIMEIRO CONTEÚDO-----*/

main section.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section div h1.about__conteudo__titulo {
    color: var(--color-text-secundary-btn);
    padding-top: 9.6rem;
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 125%;
}

main section div h2.about__conteudo__sub {
    color: var(--color-title);
    margin-bottom: 3.6rem;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
}

main section div p.about__conteudo__texto {
    color: var(--color-text);
    font-size: 2rem;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    margin: 0 1rem 10.7rem 1rem;
}

main section ul.about__lista {
    max-width: 35rem;
}

main section ul li h3.about__lista__titulo {
    color: var(--color-text-secundary-btn);
    font-size: 6rem;
    font-weight: 600;
    line-height: 125%;
}

main section ul li h2.about__lista__sub {
    color: var(--color-title);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 125%;
}

main section ul li p.about__lista__texto {
    color: var(--color-text);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    padding: 0 .5rem;
}

/*----SEGUNDO CONTEÚDO-----*/

main section.vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main section div h2.vagas__conteudo__titulo {
    color: var(--color-text-secundary-btn);
    padding-top: 9.6rem;
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 125%;
}

main section div h3.vagas__conteudo__sub {
    color: var(--color-title);
    margin-bottom: 3.6rem;
    font-size: 4.8rem;
    font-weight: 600;
    line-height: 125%;
    text-align: center;
}

main section div p.vagas__conteudo__texto {
    color: var(--color-text);
    font-size: 2rem;
    font-weight: 400;
    line-height: 125%;
    text-align: center;
    margin: 0 1rem 6.4rem 1rem;
}

main section div img.vagas__conteudo__img {
    width: 100%;
}

main section div.vagas__setor {
    margin-top: 6.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6.4rem;
    width: 35rem;
}

main section div div.vagas__setor__area {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
}

main section div div div.vagas__setor__area__descrição{
    border: 1px solid var(--color-border-design);
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
    width: 100%;
}

main section div div div div.vagas__setor__area__descrição-2 {
    display: flex;
    gap: 2.4rem;
}

main section div div h2.vagas__setor__area__titulo {
    color: var(--color-title);
    font-size: 2rem;
    font-weight: 500;
    line-height: 125%;
}

main section div div div h3.vagas__setor__area__descrição__titulo {
    color: var(--color-title);
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 125%;
    padding: 1rem;
}

main section div div div div.vagas__setor__area__descrição-2 {
    color: var(--color-text);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 125%;
    padding: 1rem;
}

/*----- TERCEIRO CONTEÚDO - DEPOIMENTO -----*/

main section.depoimento {
    margin: 9.6rem 0;
    background: var(--background-secundary);
}

main section h2.depoimento__titulo {
    color: var(--color-text-secundary-btn);
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 125%;
    margin: 6.4rem 0 1.6rem 0;
}

main section h3.depoimento__sub {
    color: var(--color-title);
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 125%;
    margin-bottom: 3.2rem;
}

main section img.depoimento__img {
    width: 7.6rem;
    height: 7.6rem;
    border-radius: 50%;
}

main section h4.depoimento__nome {
    color: var(--color-title);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 125%;
    margin: 1.6rem 0 .4rem 0;
}

main section p.depoimento__profi {
    color: var(--color-text);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 6.4rem;
}

/*----- FOOTER - CADASTRAR EMAIL -----*/

footer section.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer section h2.footer__titulo {
    color: var(--color-title);
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 125%;
    margin: 9.6rem 0 2rem 0;
    text-align: center;
}

footer section h3.footer__sub {
    color: var(--color-text);
    font-size: 2rem;
    font-weight: 400;
    line-height: 125%;
    margin-bottom: 4rem;
    text-align: center;
}

footer section p.footer__texto{
    color: var(--color-copyrigth);
    margin: 3.2rem 0 4.6rem 0;
}

footer section form input.footer__cadastro__email {
    border: 1px solid var(--color-boder-email);
    box-shadow: 0px 1px 2px var(--color-box-shadow-email-btn);
    border-radius: .8rem;
    color: var(--color-text);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 125%;
    padding: 1rem 1.8rem;
}

    footer section a {
        align-self: flex-end;
        margin-bottom: 4rem;
    }

    footer section a svg circle {
        fill: var(--color-text-secundary-btn);
    }

@media (min-width: 720px) {
    .container {
        max-width: 96rem;
    }

    header {
        height: 8rem;
    }

    header nav.menu {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header nav div a.menu__btns__entrar {
        margin-right: .5rem;
    }

    main section ul.about__lista {
        display: flex;
        max-width: 100%;
        justify-content: center;
        gap: 1rem;
    }
    
    main section ul.about__lista li {
        text-align: initial;
    }

    main section ul li p.about__lista__texto {
        text-align: initial;
        padding: 0;
    }

    main section div.vagas__setor {
        width: 100%;
        max-width: 96rem;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 120rem;
    }

    header nav div a.menu__btns__entrar {
        margin-right: 2rem;
    }

    main section div.vagas__setor {
        max-width: 120rem;
    }
}